{% extends "base.html" %}

{% block header %}
The most {{ list_type }} articles on NYTimes.com.
{% endblock%}

{% block content %}
{% for article in articles %}
<div class="border my-5 p-2 flex flex-row gap-1">
    <div class="{% if article.media %}basis-2/3{% endif %}">
        <div class="font-bold">{{ article.title }} <span class="block text-sm">{{ article.byline }}</span></div>
        <div class="my-2">{{ article.abstract }}</div>
        <div><a href="{{ article.url }}" class="underline">Read Article</a></div>
    </div>
    {% if article.media %}
    {% with %}
    {% set media = article.media[0]['media-metadata'] | last %}
    <figure class="basis-1/3">
        <img src="{{ media.url }}" height="{{ media.height }}" width="{{ media.width }}" />
    </figure>
    {% endwith %}
    {% endif %}
</div>
{% endfor %}
{% endblock %}
